In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.seasonal import seasonal_decompose

In [70]:
historic_df = pd.read_csv(r'Base de Dados//Dados Históricos - Ibovespa.csv', parse_dates=['Data'], index_col='Data')

historic_df['Var%'] = historic_df['Var%'].str.replace('%', '').str.replace(',', '.').astype(float)

historic_df['Vol.'] = historic_df['Vol.'].str.replace(',', '.')
historic_df['Vol.'] = historic_df['Vol.'].apply(
    lambda x: float(str(x)[:-1].replace(',', '.'))/1_000  if str(x)[-1] == 'K'
    else float(str(x)[:-1].replace(',', '.')) if str(x)[-1] == 'M'
    else float(str(x)[:-1].replace(',', '.')) * 1_000 if str(x)[-1] == 'B'
    else float(str(x).replace(',', '.'))/1_000_000 )

historic_df.rename(columns={'Vol.':'Vol (M)'}, inplace=True)

C:\Users\dhlui\AppData\Local\Temp\ipykernel_12060\1969224291.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  historic_df = pd.read_csv(r'Base de Dados//Dados Históricos - Ibovespa.csv', parse_dates=['Data'], index_col='Data')

In [71]:
historic_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4975 entries, 2025-02-28 to 2005-02-01
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Último    4975 non-null   float64
 1   Abertura  4975 non-null   float64
 2   Máxima    4975 non-null   float64
 3   Mínima    4975 non-null   float64
 4   Vol (M)   4974 non-null   float64
 5   Var%      4975 non-null   float64
dtypes: float64(6)
memory usage: 272.1 KB

In [72]:
historic_df.describe()

,Último,Abertura,Máxima,Mínima,Vol (M),Var%
count,4975.000000,4975.000000,4975.00000,4975.000000,4974.000000,4975.000000
mean,72.804747,72.785524,73.48200,72.096099,101.445068,0.046434
std,29.263901,29.263293,29.41898,29.110370,953.410290,1.664503
min,23.887000,23.883000,24.26000,23.680000,0.112100,-14.780000
25%,51.837000,51.833000,52.40950,51.251500,2.820000,-0.820000
50%,63.479000,63.477000,64.05500,62.826000,4.450000,0.060000
75%,100.598000,100.570500,101.56550,99.684500,10.920000,0.940000
max,137.344000,137.349000,137.46900,136.664000,24870.000000,14.660000